<div class="topDiv">
  <button mat-button style="background: transparent; border-color: transparent;" (click)="sidebarVisible = true"><i class="pi pi-bars"
      style="font-size: 1.5rem; color: white;"></i></button>
  <div class="card flex justify-content-center">
    <!-- align according to screen size -->
    
    <div *ngIf="vm$ | async">
    <p-sidebar [styleClass]="'w-13rem ' + menuCss" [(visible)]="sidebarVisible" >
      <p-button  (onClick)="profile()" styleClass=" bg-transparent w-10rem border-white border-none border-bottom-2 border-noround" label="Profile"></p-button>
      <p-button (onClick)="logOut()" styleClass=" bg-transparent w-10rem border-white border-none border-bottom-2 border-noround" label="Log Out"></p-button>
      <p-button (onClick)="explore()" styleClass=" bg-transparent w-10rem border-white border-none border-bottom-2 border-noround" label="Explore"></p-button>
    </p-sidebar>
  </div>  
  </div>
</div>

<div class="middleDiv">
  <ng-container *ngIf="api.user | async as user">
    <!-- #SwiperEl is making use of the view child -->
    <swiper-container pagination="true" keyboard="true" css-mode="true" #SwiperEl initial-slide="0" slides-per-view="1">
    <ng-container *ngFor="let location of user.locations, let index = index">
        <swiper-slide>
            <!-- injecting the location data for the userService.user observable into the weather-display component -->
          <app-weather-display [data]="location"></app-weather-display>
        </swiper-slide>	
    </ng-container>
  </swiper-container> 
  </ng-container>
