<!-- <body [class]="">
  <header> -->
    <div *ngIf="logo$ | async">
    <div class="imgDiv">
      <img class="img" [src]="image" alt="Daytime Logo">
    </div>
    <div class="titleDiv">
      <h1>Dusk & Dawn</h1>
      <!-- <button (click)="showtoast()">toast</button> -->
    </div>
  <!-- </header> -->

  <main>
    <!-- <button (click)="logForm()">Just a button</button> -->
    <form [formGroup]="formLogin">
    <div class="inputDiv">
      <input class="input" pInputText pKeyFilter="User" placeholder="Username" formControlName="username" />
      <P>{{formLogin.errors}}</P>
    </div>

    <div class="inputDiv">
      <p-password class="pInput" placeholder="Password" formControlName="password" [feedback]="false" [toggleMask]="true"></p-password>

    </div>

    <div class="butDiv">
      <button mat-raised-button class="but" [disabled]="formLogin.invalid" (click)="loginUser()">Log In</button>   
    </div>
  </form>


    <div class="signDiv">
      <button (click)="signup()" class="signBut" mat-button><p class="p">Don't have an account? Sign up</p></button>

    </div>
  </main>
<!-- </body>  -->
</div>