<div class="fullPage" *ngIf="border$ | async">

    <div class="gifDiv">
        <img src="assets/animations/cycle.gif" [class]="this.borderCol">
    </div>

    <div class="bottomDiv">

        <div class="titleDiv">
            <h1>Join Today!...</h1>
        </div>

        <form [formGroup]="formSignUp">

            <div class="userInput">
                <input type="text" placeholder="Username" formControlName="username"/>
            </div>
            <div class="passwordInput">
                <input type="password" placeholder="Password" formControlName="password">
            </div>
            <div class="butDiv">
                <button mat-raised-button class="but" [disabled]="formSignUp.invalid" (click)="signUp()">Sign Up</button>
            </div>
        </form>
        <button mat-button class="backBut" (click)="goBack()">
            <i class="pi pi-arrow-left" style="font-size: 1.5rem; color: white;"></i>
        </button>

    </div>

</div>